# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Xodex CI/CD

on:
  push:
    branches:
      - main
      - dev

  pull_request:
    branches: ["main", "dev"]

permissions:
  contents: read

jobs:
  build:
    name: Xodex Test, Lint, Type Check & Format.

    strategy:
      matrix:
        python-version: ["3.11", "3.13"]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          prune-cache: false

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Xodex dependencies
        run: |
          uv sync --frozen

      - name: Xodex Ruff Formatting.
        run: uv run --dev ruff format --check --diff

      - name: Xodex Ruff Type Checking.
        run: uv run --dev ruff check --fix xodex tests

      - name: Xodex Pytest Unittesting.
        run: uv run --dev pytest
